*{
 padding: 0%;
 margin: 0;
 box-sizing: border-box;
}

.main{
      width:100%;
      height: 100vh; 
      background-image: url('../image.jpg');    
      background-size: cover;       
}
.overlay{
      width: 100%;
      height: 100vh;
      background-color: rgba(32, 32, 32, 0.7);
      display: flex;
      flex-direction: column;
      align-items: center;
    
}

.title{
     color: rgb(234, 3, 3);
     text-align: center;
     font-size: 2.5rem;
     padding: 0.5%;  
      

}
.col{
    margin-top: 20px;
    width: 1000px;
    display: flex;
    justify-content: center;
    color: white;
   
}
.col div{
    width: 250px;
    text-align:center;
  
}
input{
  
    height: 50px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    
}
label{
    display: block;
}

